#Build pipeline references an undefined variable named ‘project’ and ‘dockerRepo’. Create or edit the build pipeline for this YAML file, define the variable on the Variables tab. See https://go.microsoft.com/fwlink/?linkid=865972

trigger:
  - master

pr:
  - master

resources:
  - repo: self

variables:
  # Container registry service connection established during pipeline creation
  imageRepository: "$(dockerRepo)/$(project)"
  containerRegistry: "docker.hub"
  dockerfile: "$(Build.SourcesDirectory)/Dockerfile"
  tag: "latest"
  vmImage: "ubuntu-18.04"
stages:
  - stage: Test
    displayName: Test application
    condition: notIn(variables['Build.SourceBranch'], 'refs/heads/master')
    jobs:
      - job: Test
        displayName: Test
        pool:
          vmImage: $(vmImage)
        steps:
          - script: npm ci
            displayName: "Prepare node_modules"
          - script: npm run lint
            displayName: "Lint source code"
          - script: npm run test:unit
            displayName: "Unit tests"
  - stage: Build
    displayName: Build application
    condition: in(variables['Build.SourceBranch'], 'refs/heads/master')
    jobs:
      - job: Build
        displayName: Build
        pool:
          vmImage: $(vmImage)
        steps:
          - task: Docker@2
            displayName: Build and push an image to container registry
            inputs:
              containerRegistry: $(containerRegistry)
              command: buildAndPush
              repository: $(imageRepository)
              dockerfile: $(dockerfile)
              tags: "$(tag)"
              addPipelineData: false
          - task: PublishBuildArtifacts@1
            displayName: "Publish helm chart"
            inputs:
              PathtoPublish: "./server/helm/charts/devops-workshop/"
              ArtifactName: "chart"
            condition: succeeded()
