version: '3'

volumes:
  mysqlstorage:

services:
  node:
    image: 'rebood_ws:latest'
    env_file:
      - ./.env
    environment:
      DB_URL: mysql
      HOST: 0.0.0.0
      API_URL: 'http://localhost'
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./assets:/www/assets
      - ./components:/www/components
      - ./layouts:/www/layouts
      - ./pages:/www/pages
      - ./server:/www/server
      - ./static:/www/static
    ports:
      - '80:${PORT}'
    command: "npm run dev"
    links:
      - mysql
    depends_on:
      - mysql

  mysql:
    image: 'rebood_db:mariadb-10.2'
    env_file:
      - ./.env
    environment:
      MYSQL_DATABASE: ${DB_USER}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_RANDOM_ROOT_PASSWORD: 'yes'
    build:
      context: .
      dockerfile: mysql.dockerfile
    restart: always
    volumes:
      - mysqlstorage:/var/lib/mysql
    ports:
      - "3306:3306"